{{#link-to "mod" mod class="quietLink"}}
{{#paper-card class="mod-listing" style="background-color:#aa33aa" as |card|}}
  {{#card.title as |title|}}
    {{#title.text color=mod.fgColor as |text|}}
      {{#text.headline}}{{mod.title}}{{/text.headline}}
      {{#text.subhead}}{{mod.subtitle}}{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    <span class="modtype">Type:</span> {{mod.type}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Latest Version:</span> {{mod.version}}
  {{/card.content}}
{{/paper-card}}
{{/link-to}}