{{#link-to "mod" mod class="quietLink"}}
{{#paper-card class="mod-listing" as |card|}}
  {{#paper-toolbar class="mod-listing-title"}}
    {{#paper-toolbar-tools}}
      <h1>{{mod.title}}</h1>&nbsp;&nbsp;-&nbsp;&nbsp;
      <h2>{{mod.subtitle}}</h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#card.content}}
    <span class="modtype">Type:</span> {{mod.type}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Latest Version:</span> {{mod.version}}
  {{/card.content}}
{{/paper-card}}
{{/link-to}}