{{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-sidenav-toggle as |toggleAction|}}
      {{#paper-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    <h2>
      {{pageTitle}}
    </h2>
    <span class="flex"></span>
    {{#if loggedIn}}
      {{#paper-button mini=true aria-label="Favorite"}}
        {{paper-icon "person"}}
      {{/paper-button}}
    {{else}}
      <h5>
      Register or Login
      </h5>
    {{/if}}
  {{/toolbar.tools}}
{{/paper-toolbar}}