$primary: "blue";
$accent: "amber";

@import 'ember-paper';

.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width:     272px;
  min-width: 272px;
  max-width: 272px;
}
.site-sidenav > * {
  min-width: 218px;
}
md-sidenav.site-sidenav {
  background: color($primary);

  md-toolbar.md-default-theme {
    background: $primary;
    border-bottom: 1px solid rgba(#fff, .1);

    height: 180px;
    min-height: 180px;
    max-height: 180px;

    .logo {
      font-size: 54px;
      font-weight: 200;
      width: 100%;
      height: 100%;

      img {
        width: 150px;
      }

      div {
        font-weight: bold;
        margin-top: -20px;
      }
    }
  }

  md-content {
    background: transparent;
    color: $light-contrast-color;
    md-icon {
      color: inherit;
    }
  }

  .menu-item {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    .expand-icon {
      position: relative;
      right: -36px;
      transition: transform 250ms linear;
    }

    &.expanded .expand-icon {
      transform: rotate(-180deg);
    }
  }

  .submenu-item {
    .md-list-item-inner {
      padding-left: 36px;
    }
  }

  .menu-item, .submenu-item {
    min-height: 40px;
    color: $accent;

    &.active, &:hover {
      background-color: rgba(#fff, .1);
    }

    .md-list-item-inner {
      min-height: 40px;

      md-icon {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.site-nav-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.site-nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
}

.site-nav-toolbar {
  position: static;
  top: 0;
  max-height: 100px;
}

.page-main-toolbar {
  h1 {
    color: contrastColor($primary);
    font-size: 20px;
    font-weight: 400;
  }
  h2 {
    color: contrastColor($primary);
    font-size: 16px;
    font-weight: 200;
  }
}

md-toolbar.md-warn {
  a, button {
    &.md-button.md-default-theme:not(.md-primary):not(.md-accent) {
      color: $dark-contrast-color;
    }
  }
}

.inner-sidenav {
  position: relative;
}

@font-face {
  font-family: dominionsTitle;
  src: url("/fonts/oldlondon.ttf");
}

.dom5-name {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  font-family: dominionsTitle, serif;
  font-size: 40px;
  color: black;
  text-shadow:0px 0px 10px yellow;
}

.moddb-name {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  font-family: dominionsTitle, serif;
  font-size: 36px;
  color: black;
  text-shadow:0px 0px 10px yellow;

}

.quietLink {
  text-decoration: none;
}

.mod-listing {
  box-shadow: 3px 3px 2px #dadada;
}

.mod-listing-title {
  h1 {
    font-size: 20px;
    font-weight: 400;
  }
  h2 {
    font-size: 16px;
    font-weight: 200;
  }
}

.mod-detail {
  border: 30px;
}

.all-mods {
  background-color: color($accent, '50');
}
