{{page-toolbar pageTitle="Mods"}}

{{#paper-content scroll-y=true class="layout-padding flex"}}
  <div class="doc-content">
    {{#each model as |mod|}}
      {{mod-listing mod=mod}}
    {{/each}}
  </div>
{{/paper-content}}
