{{page-toolbar pageTitle="User"}}

<div class="standard-container">
  {{#paper-card class="flex-95" id="my-card" as |card|}}
    {{#paper-button onClick=(action "logout")}}Sign Out{{/paper-button}}
  {{/paper-card}}
</div>